#builder {
  padding: 1rem;
}

#link-back {
  text-align: center;
}

#link-back > a {
  color: white;
  margin-left: 5px;
}

.inactive > form {
  display: none;
}

.inactive img {
  transform: rotate(180deg);
}

.builder-section-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
