.entry-group {
  display: flex;
}

.work-entry-company,
.work-entry-company + div {
  font-style: italic;
}

.work-entry-company::after {
  content: ',';
  margin-right: 5px;
}

.work-entry-responsibilities {
  white-space: pre-wrap;
}
