#preview-container {
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: aliceblue; */
  width: 70%;
  height: var(--section-height);
  padding: var(--section-padding);
  overflow-y: auto;
  overscroll-behavior: contain;
}

#preview {
  --preview-size: 600px;
  width: var(--preview-size);
  min-height: calc(var(--preview-size) * 1.2941);
  background-color: #ffffff;
  color: #000000;
  padding: 3.5rem;
  margin: 0.75rem;
  font-size: 14px;
  margin: auto;
}

.preview-h1 {
  font-size: 1.5em;
}

.preview-h2 {
  font-size: 1.2em;
  font-weight: bold;
}

hr.divider {
  height: 0;
  width: 100%;
  margin: 0.5rem 0;
}

.entry-group {
  display: flex;
}

.entry {
  margin-top: 1rem;
  transition: padding 200ms ease-in-out;
}

.entry:hover {
  background-color: #e9e9ed;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.wrap {
  white-space: pre-wrap;
}

.action-item svg:hover {
  cursor: move;
}

.over {
  padding-top: 8rem;
  transition: padding-top 350ms;
}
