#preview {
  --preview-size: 650px;
  width: var(--preview-size);
  height: calc(var(--preview-size) * 1.2941);
  background-color: #ffffff;
  color: #000000;
  padding: 3.5rem;
  margin: 0.75rem;
  font-size: 16px;
  margin: auto;
}

.preview-h1 {
  font-size: 1.5em;
}

.preview-h2 {
  font-size: 1.2em;
  font-weight: bold;
}

hr.divider {
  height: 0;
  width: 100%;
  margin: 0.5rem 0;
}

.entry-group {
  display: flex;
}

.wrap {
  white-space: pre-wrap;
}

.draggable:hover {
  cursor: pointer;
}
