#preview {
  --preview-size: 700px;
  width: var(--preview-size);
  height: calc(var(--preview-size) * 1.294);
  background-color: #ffffff;
  color: #000000;
  padding: 4rem;
  margin: 1rem;
  font-size: 12pt;
  font-family: serif;
}

.preview-h1 {
  font-size: 1.5em;
}

.preview-h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.draggable:hover {
  cursor: pointer;
}
