main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

[draggable] * {
  pointer-events: none;
}

[draggable] .action-panel .action-item * {
  pointer-events: auto;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.button:hover {
  cursor: pointer;
}

.button-primary {
  color: white;
  background-color: #007bff;
}

.button-success {
  background-color: #28a745;
  color: white;
}

.button-danger {
  color: white;
  background-color: #dc3545;
}

#builder-sidebar {
  overflow-y: scroll;
  max-height: 100%;
  min-width: 350px;
}

#preview-panel {
  overflow-y: scroll;
  max-height: 100%;
  margin: auto;
}

@media print {
  @page {
    margin: 0.75in;
    size: 8.5in 11in;
  }

  body * {
    margin: 0 !important;
    padding: 0 !important;
  }

  .no-print {
    display: none !important;
  }

  #preview {
    padding: 10px !important;
    visibility: visible !important;
    break-inside: avoid;
    width: 100% !important;
    font-size: 13pt;
  }

  .entry {
    margin-top: 1rem;
  }

  body,
  #root,
  main {
    height: fit-content !important;
    background-color: white !important;
  }
}
