main {
  width: 95dvw;
  height: 100dvh;
  display: flex;
  gap: 3rem;
  margin: auto;
}

#preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 95dvh;
  overflow-y: auto;
}

[draggable] * {
  pointer-events: none;
}

[draggable] .action-panel .action-item * {
  pointer-events: auto;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  -webkit-appearance: none;
}

.button-primary {
  color: white;
  background-color: #007bff;
}

.button-success {
  background-color: #28a745;
  color: white;
}

.button-danger {
  color: white;
  background-color: #dc3545;
}

.select {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-right: 2rem;
}

#builder-sidebar {
  overflow-y: scroll;
  max-height: 100%;
  min-width: 350px;
}

#preview-panel {
  overflow-y: scroll;
  max-height: 100%;
  margin: auto;
}

@media print {
  @page {
    margin: 1in;
    size: 8.5in 11in;
  }

  body * {
    margin: 0 !important;
    padding: 0 !important;
  }

  .no-print {
    display: none !important;
  }

  body,
  #root {
    height: fit-content !important;
    background-color: white !important;
  }

  #preview-container {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }

  #preview {
    font-size: 14pt;
    width: 100% !important;
  }

  .entry {
    margin-top: 2rem !important;
  }
}
