main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

#builder-sidebar {
  overflow-y: scroll;
  max-height: 100%;
  width: 25%;
}

#preview-panel {
  overflow-y: scroll;
  max-height: 100%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.2rem;
}

h2:has(+ form) {
  margin: 1rem 0;
}

.form-group-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.form-group input {
  padding: 0.3rem;
}

.form-group > label {
  font-size: var(--font-small);
}
