:root {
  --color-background: #242424;
  --font-color: #ffffff;
  --font-small: 0.8rem;
  --font-large: 1.4rem;
  --section-height: 95%;
  --section-padding: 1.3rem;
}

#root {
  height: 100dvh;
  width: 100dvw;
  /* background-color: blanchedalmond; */
  /* padding: 1rem; */
}

body {
  font-family: system-ui;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
  background-color: var(--color-background);
  color: var(--font-color);
}

h1,
h2,
h3 {
  margin: 0;
}
